<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="webjars/sweetalert2/7.28.10/dist/sweetalert2.min.css">
    <title th:text="'Mesa de ayuda' + ${titulo}"></title>
</head>
<body>
<header th:fragment="header">
    <nav>
        <div class="nav-wrapper">

            <ul id="nav-mobile" class="right ">
                <li><a th:href="@{${ruta}}" th:text="${nombreRuta}"></a></li>
                <li><a  th:href="@{${ruta2}}" th:text="${nombreRuta2}"></a></li>
            </ul>
        </div>
    </nav>
    <div class="card-panel teal lighten-2" th:if="${success != null}" th:text="${success}"></div>
    <div class="card-panel  red accent-2" th:if="${error != null}" th:text="${error}"></div>
    <div class="card-panel  yellow lighten-3" th:if="${warning != null}" th:text="${warning}"></div>
    <div class="card-panel grey lighten-5" th:if="${info != null}" th:text="${info}"></div>
</header>
<div class="container">
</div>

<footer th:fragment="footer" class="container">
    </hr>
    <script th:src="@{/js/materialize.min.js}"></script>
    <script src="webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</footer>
</body>
</html>