<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <title>Title</title>
</head>
<body>
<header th:replace="/layout :: header"></header>
    <main class="container">
    <article class="row">
        <div th:object="${empleado}" th:remove="tag">
            <ul class="red lighten-4" th:if="${#fields.hasErrors('*')}" >
                <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>
        <form id="form" th:object="${empleado}" method="post"  enctype="multipart/form-data">
            <h3 th:text="${titulo}"></h3>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input id="id" type="text" th:field="*{IdEmple}"/>
                    <label for="id"> ID </label>
                    <small class="left red-text" th:if="${#fields.hasErrors('Nombre')}" th:errors="*{Nombre}" ></small>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input id="nombre" type="text" th:field="*{Nombre}"/>
                    <label for="nombre"> Nombre </label>
                    <small class="left red-text" th:if="${#fields.hasErrors('Nombre')}" th:errors="*{Nombre}" ></small>
                </div>


                <div class="input-field col s12 m6 l6">
                    <input id="email" type="text" th:field="*{Ema}"/>
                    <label for="email"> Correo </label>
                    <small class="left red-text" th:if="${#fields.hasErrors('Ema')}" th:errors="*{Ema}" ></small>
                </div>

            </div>

            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input id="address" type="text" th:field="*{Dir}"/>
                    <label for="address"> Dirección </label>
                    <small class="left red-text" th:if="${#fields.hasErrors('Dir')}" th:errors="*{Dir}" ></small>

                </div>

                <div class="input-field col s12 m6 l6">
                    <input id="phone" type="text" th:field="*{Tel}"/>
                    <label for="phone"> Teléfono </label>
                    <small class="left red-text" th:if="${#fields.hasErrors('Tel')}" th:errors="*{Tel}" ></small>
                </div>

            </div>

            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input id="x" type="text" th:field="*{X}"/>
                    <label for="x"> Posición en x </label>
                    <small class="left red-text" th:if="${#fields.hasErrors('X')}" th:errors="*{X}" ></small>
                </div>


                <div class="input-field col s12 m6 l6">
                    <input id="y" type="text" th:field="*{Y}"/>
                    <label for="y"> Posición en y </label>
                    <small class="left red-text" th:if="${#fields.hasErrors('Y')}" th:errors="*{Y}" ></small>
                </div>

            </div>

            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <select th:field="*{FkArea}">
                        <option value="" disabled selected> </option>
                        <option th:each="area: ${areas}" th:text="${area.Nombre}" th:value="${area.IdArea}"></option>
                    </select>
                    <label>Área: </label>
                    <small class="left red-text" th:if="${#fields.hasErrors('FkArea')}" th:errors="*{FkArea}" ></small>
                </div>


                <div class="input-field col s12 m6 l6">
                    <select th:field="*{FkEmple_Jefe}">
                        <option value="" disabled selected> </option>
                        <option th:each="empl: ${empleados}" th:text="${empl.Nombre}" th:value="${empl.IdEmple}"></option>
                    </select>
                    <label>Jefe </label>
                </div>
            </div>
            <div class="row">
                <div class="file-field input-field col s12 m6 l6">
                    <div class="btn">
                        <span>Foto</span>
                        <input type="file" name="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" th:field="*{Foto}">
                    </div>
                </div>

                <div class="file-field input-field col s12 m6 l6">
                    <div class="btn">
                        <span>Hoja de vida</span>
                        <input type="file" name="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" th:field="*{HojaVida}">
                    </div>
                </div>
            </div>
            <button id="guardar" class="waves-effect waves-light btn">Guardar </button>
        </form>
    </article>
</main>
<footer th:replace="/layout :: footer"></footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});

        document.getElementById('guardar').addEventListener('click',() => {
            const isNew = new URL(location.href).searchParams.get('isNew');
            document.getElementById('form').setAttribute('th:action', `@{/app/form${isNew && `(isNew=${isNew})`}}`)
        })
    });

</script>
</body>
</html>