<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <title>Title</title>
</head>
<body>
<header th:replace="/layout :: header"></header>
<div>
    <h1 th:text="'Bienvenido ' + ${nombre}"> </h1>
</div>
<footer th:replace="/layout :: footer"></footer>

</body>
</html>