<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <style>
        .box {
            border: 1px solid #333333;
            width: 50px;
            height: 20px;
            overflow: scroll;
        }
    </style>
</head>
<body>
<header th:replace="/layout :: header"></header>
<main class="container">
    <div class="row">
        <div class="col s12 m12" style=" padding-top: 20px">
            <div class="card">
                <div class="card-content" style="padding: 50px">
                    <span class="card-title" th:text="${titulo}" ></span>
                    <article>
                        <table class="responsive-table centered striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Dirección</th>
                                <th>Telefono</th>
                                <th>Área</th>
                                <th>Jefe</th>
                                <th> </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="empleado: ${empleados}">
                              <!-- <td ><a class="waves-effect" th:href="@{'/ver/' + ${empleado.idEmple}}"> <i class="material-icons">visibility</i></a></td> -->
                                <td th:text="${empleado.IdEmple}"></td>
                                <td th:text="${empleado.Nombre}"></td>
                                <td th:text="${empleado.Ema}"></td>
                                <td th:text="${empleado.Dir}"></td>
                                <td th:text="${empleado.Tel}"></td>
                                <td th:text="${empleado.IdEmple}"></td>
                                <td th:text="${empleado.FkEmple_Jefe} == null ? '--' : ${empleado.FkEmple_Jefe}"></td>
                                <td>
                                    <a class='dropdown-trigger btn waves-effect waves-circle waves-teal btn-floating secondary-content' href='#' th:data-target="'dropdown' + ${empleado.IdEmple}"><i class="material-icons">more_vert</i></a>
                                    <ul th:id="'dropdown' + ${empleado.IdEmple}" class='dropdown-content'>
                                        <li><a th:text="editar" th:href="@{/app/form(id=${empleado.IdEmple},isNew=false)}"></a></li>
                                        <li class="divider" tabindex="-1"></li>
                                        <li><a th:href="@{/app/eliminar/{IdEmple}(IdEmple=${empleado.IdEmple})}" th:text="eliminar"></a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                       <!-- <nav th:replace="paginator-nav :: paginator"></nav>-->
                </article>
            </div>
                <div class="card-action">
                    <a th:href="@{/app/form(isNew=true)}">Crear empleado</a>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="/layout :: footer"></footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems, {});
    });

</script>

</body>
</html>